
body {
    background-color: beige;
}

h1 {
    text-align: center;
    color: rgb(83, 125, 251);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-weight: 600;
    font-size: 50pt;
}

h2 {
    text-align: left;
    color: rgb(72, 100, 157);
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
}

p {
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:  rgb(72, 100, 157);
}
